html
head
  title Ascencion Talent Calculator
  link(rel="stylesheet" href="style.css")
body
  h1 Ascention Spell Calculator
  #spell-calculator
    #spec-view
      h3 To start, select a spec
    #spec-list
  script(src="index.js")
